# Title
[]()

In [1]:

import pandas as pd
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\custom_python")
from silvhua import *
from wrangling import *
# from datetime import datetime
# sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\src")

In [12]:
# set the option to wrap text within cells
pd.set_option('display.max_colwidth', 100)
# pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Load raw data from Google Sheets

In [3]:
filepath = r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\GHL-chat\data\raw'
messages = load_csv('SAM Lab messages 2023-11-10_946.csv', filepath)
messages

Dataframe shape:  (2397, 8)
DataFrame columns: ['timestamp', 'timestamp (pacific time)', 'Event', 'contactID', 'message', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']
	Time completed: 2023-11-10 09:48:28.705271

,timestamp,timestamp (pacific time),Event,contactID,message,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2023-08-09T01:19:07.000Z,NaN,OutboundMessage,QaCSc3ooOwlNPY5cVM9P,Thank you. I can now see incoming SMS!,SMS,NaN,NaN
1,2023-08-09T03:22:20.376Z,NaN,InboundMessage,Jsa1z4iFXINHgd8Rmx4s,Sorry for bailing on you this morning. Big win...,SMS,NaN,NaN
2,2023-08-09T03:22:34.009Z,NaN,InboundMessage,Jsa1z4iFXINHgd8Rmx4s,Hope you have an awesome time away,SMS,NaN,NaN
3,2023-08-09T03:41:14.000Z,NaN,OutboundMessage,Jsa1z4iFXINHgd8Rmx4s,"Not a problem mate. That’s great news, congrat...",SMS,NaN,NaN
4,2023-08-09T03:44:38.192Z,NaN,InboundMessage,Jsa1z4iFXINHgd8Rmx4s,"Liked “Not a problem mate. That's great news, ...",SMS,NaN,NaN
...,...,...,...,...,...,...,...,...
2392,2023-11-10T05:55:44.952Z,2023-11-09 21:55:44,OutboundMessage,QaCSc3ooOwlNPY5cVM9P,test from Silvia via SAM Lab GHL,SMS,NaN,2023-11-10
2393,2023-11-10T05:57:47.651Z,2023-11-09 21:57:47,InboundMessage,KSGQzNWQ8ESieuv9OSV5,Hi Charlie of course i am ok to take the payme...,SMS,NaN,2023-11-10
2394,2023-11-10T06:13:59.912Z,2023-11-09 22:13:59,InboundMessage,QaCSc3ooOwlNPY5cVM9P,Yep,SMS,NaN,2023-11-10
2395,2023-11-10T10:14:51.881Z,2023-11-10 02:14:51,InboundMessage,0X4K1LEBnAt7eX9EC3nC,Ok will do 1 PT and 1 group next week and then...,SMS,NaN,2023-11-10
2396,2023-11-10T10:17:17.288Z,2023-11-10 02:17:17,InboundMessage,0X4K1LEBnAt7eX9EC3nC,I will do PT at 7.30 Friday and Group 6.45 on ...,SMS,NaN,2023-11-10

In [22]:
contacts = load_csv('SAM Lab subscribe 2023-11-10_946.csv', filepath)
contacts_columns = ['contact ID', 'event type', 'date contact added', 'event timestamp']
contacts[contacts_columns]

Dataframe shape:  (208, 11)
DataFrame columns: ['contact ID', 'event type', 'date contact added', 'event timestamp', 'email', 'name', 'source', 'DND status', 'DND Settings: SMS', 'DND Settings', 'date']
	Time completed: 2023-11-10 09:56:54.481589

,contact ID,event type,date contact added,event timestamp
0,NaN,NaN,2021-11-26T12:41:02.193Z,NaN
1,NaN,NaN,2021-11-26T12:41:02.193Z,NaN
2,NaN,NaN,2022-01-19T19:31:53.334Z,NaN
3,NaN,NaN,2023-02-06T21:18:49.972Z,NaN
4,NaN,NaN,2023-02-06T21:56:55.932Z,NaN
...,...,...,...,...
203,bmoEVjLPtOGdU7PVIUrn,ContactCreate,2023-10-27T07:17:56.462Z,2023-10-27 00:17:57
204,MGAIAK1eA4BdmXSgEqri,ContactCreate,2023-10-31T01:07:57.027Z,2023-10-30 18:07:57
205,vYW2zNL3ojrh4j1lQoXI,ContactCreate,2023-10-31T01:53:26.310Z,2023-10-30 18:53:27
206,SmwLi0zi82bC21IMxoDR,ContactDelete,2023-10-26T05:28:12.015Z,2023-11-09 16:55:49
207,Xk9Dl92ZV7NbMgk01eF6,ContactDelete,2023-11-05T22:36:17.256Z,2023-11-09 16:55:49

# Find new contact IDs

In [ ]:
set(contacts['email'].unique()) - set(['silvia.hua@mail.mcgill.ca'])

In [23]:
not_me = list(set(contacts['email'].unique()) - set(['silvia.hua@mail.mcgill.ca']))
filters = {
    'event type': ['ContactCreate'],
    'email': not_me
}
new_contacts = filter_df_all_conditions(contacts, filters)
new_contacts[contacts_columns]

Results where ALL conditions are met:
	DataFrame indices: [53, 54, 55, 57, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 85, 88, 89, 90, 91, 92, 94, 95, 166, 170, 173, 174, 177, 179, 181, 182, 184, 185, 186, 189, 192, 194, 195, 197, 198, 202, 203, 205]
	DataFrame shape: (51, 11)

,contact ID,event type,date contact added,event timestamp
53,Ea8kUvnNhe75pnNJrPUc,ContactCreate,2023-08-17T16:37:34.784Z,2023-08-17 09:37:36
54,aec4BpXuaRWgRIB76pRO,ContactCreate,2023-08-18T00:13:45.406Z,2023-08-17 17:13:46
55,3WqsCxM93dgvS81zMj9S,ContactCreate,2023-08-18T01:10:48.088Z,2023-08-17 18:10:49
57,ADxznxJyfXCwxDhvHobJ,ContactCreate,2023-08-18T12:47:28.416Z,2023-08-18 05:47:29
64,FwllGON3bYr9yiwvVwyK,ContactCreate,2023-08-19T02:18:09.616Z,2023-08-18 19:18:11
...,...,...,...,...
197,C1ENBLSArJkNuIBAhp7a,ContactCreate,2023-10-26T03:55:48.283Z,2023-10-25 20:55:49
198,JiITbu1ctIVEmktUGRtL,ContactCreate,2023-10-26T04:01:59.329Z,2023-10-25 21:02:00
202,SmwLi0zi82bC21IMxoDR,ContactCreate,2023-10-26T05:28:12.015Z,2023-10-25 22:28:12
203,bmoEVjLPtOGdU7PVIUrn,ContactCreate,2023-10-27T07:17:56.462Z,2023-10-27 00:17:57
205,vYW2zNL3ojrh4j1lQoXI,ContactCreate,2023-10-31T01:53:26.310Z,2023-10-30 18:53:27

## Filter new contact IDs so it is only new leads

In [7]:
contacts['source'].unique()

array(['xyz form', 'FB Group Optin', nan, 'facebook form lead',
       'i want to get started',
       'assumption of risk and release of liability page 2',
       'assumption of risk and release of liability'], dtype=object)

In [24]:
all_filters = {
    'event type': ['ContactCreate'],
    'email': not_me
}
any_filters = {
    'source': 'null',
    'source': ['i want to get started', 'FB Group Optin', 'facebook form lead']
}
new_contacts = filter_chain(contacts, any_filters, None, all_filters)
new_contacts[contacts_columns]

Original DataFrame shape: (208, 11)
** Applying filter_df_any_condition
Results where any condition is met:
	DataFrame indices: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 26, 27, 28, 29, 31, 33, 53, 54, 55, 57, 64, 66, 67, 68, 69, 70, 71, 73, 75, 76, 77, 78, 79, 84, 85, 88, 89, 91, 95, 98, 166, 170, 173, 174, 177, 179, 182, 184, 185, 203]
	DataFrame shape: (61, 11)

Final DataFrame shape: (61, 11)
** Applying filter_df_all_conditions
Results where ALL conditions are met:
	DataFrame indices: [53, 54, 55, 57, 64, 66, 67, 68, 69, 70, 71, 73, 75, 76, 77, 78, 79, 84, 85, 88, 89, 91, 95, 166, 170, 173, 174, 177, 179, 182, 184, 185, 203]
	DataFrame shape: (33, 11)

Filter chain: Final DataFrame shape: (33, 11)

,contact ID,event type,date contact added,event timestamp
53,Ea8kUvnNhe75pnNJrPUc,ContactCreate,2023-08-17T16:37:34.784Z,2023-08-17 09:37:36
54,aec4BpXuaRWgRIB76pRO,ContactCreate,2023-08-18T00:13:45.406Z,2023-08-17 17:13:46
55,3WqsCxM93dgvS81zMj9S,ContactCreate,2023-08-18T01:10:48.088Z,2023-08-17 18:10:49
57,ADxznxJyfXCwxDhvHobJ,ContactCreate,2023-08-18T12:47:28.416Z,2023-08-18 05:47:29
64,FwllGON3bYr9yiwvVwyK,ContactCreate,2023-08-19T02:18:09.616Z,2023-08-18 19:18:11
...,...,...,...,...
179,8XYUQ0LwX3EvFqoGQgkZ,ContactCreate,2023-10-13T02:20:27.646Z,2023-10-12 19:20:29
182,GSWMaH6yiwFDiR8dZRYN,ContactCreate,2023-10-14T01:57:30.537Z,2023-10-13 18:57:32
184,fm4yzUDp3tLDspmiRYk9,ContactCreate,2023-10-18T06:59:55.503Z,2023-10-17 23:59:56
185,TcEX5rQX2n1IpsSJVLuZ,ContactCreate,2023-10-19T23:18:31.075Z,2023-10-19 16:18:32
203,bmoEVjLPtOGdU7PVIUrn,ContactCreate,2023-10-27T07:17:56.462Z,2023-10-27 00:17:57

In [9]:
new_contacts_ids = new_contacts['contact ID'].unique()
print(new_contacts_ids.shape)
new_contacts_ids

(33,)

array(['Ea8kUvnNhe75pnNJrPUc', 'aec4BpXuaRWgRIB76pRO',
       '3WqsCxM93dgvS81zMj9S', 'ADxznxJyfXCwxDhvHobJ',
       'FwllGON3bYr9yiwvVwyK', 'erui5c9lXFOe9PqeGQ70',
       'FPczgMAc4b5f6ESrOArn', 'tiDXbylFMioZgsaMdu2z',
       'Pr5hjnSvWqaZ88Fm1pN7', 'iKhDAMDPHgnuNa2cXHiQ',
       'N9rV6rTHj3uIrbRYsyXW', '8U0rqRaYgFbaozGIVxTC',
       '38copOQu9zgnQFZDMhgR', 'K4gqPR4v02axzwNSKKdu',
       '0X4K1LEBnAt7eX9EC3nC', 'N1UPr8M8YTnoXNkQsjHG',
       'adLlD4w5p9PLFhif7jCg', 'LslHQCDs1SSi5iCi8yUM',
       'MtIE7PLXa3vpmDffsj1N', '6DEaL2IDcSpQvFA3XdeU',
       'sXJI5CcNjYHdPfujYZmq', 'Xu9zs2sTbZywGC6v3F1v',
       'bQpTdSgTXtoCDRlgZIDK', 'SHg16T9W9Mzihua3l6dq',
       '5lgVc8d863d6jjW4gIv4', 'lMoSuMt17yleOQECg1Kf',
       'HuFw9l4LpWZkTO5TDD3S', 'QqySPRrWqrpKFBzTRIrA',
       '8XYUQ0LwX3EvFqoGQgkZ', 'GSWMaH6yiwFDiR8dZRYN',
       'fm4yzUDp3tLDspmiRYk9', 'TcEX5rQX2n1IpsSJVLuZ',
       'bmoEVjLPtOGdU7PVIUrn'], dtype=object)

# Messages from new contacts

In [15]:
filters = {
    'contactID': new_contacts_ids.tolist()
}
new_contact_messages = filter_df_all_conditions(messages, filters)
new_contact_messages

Results where ALL conditions are met:
	DataFrame indices: [26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 84, 95, 96, 97, 98, 99, 103, 110, 112, 152, 153, 154, 155, 156, 157, 158, 162, 165, 166, 174, 175, 184, 187, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 223, 224, 225, 248, 249, 250, 251, 252, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 279, 280, 281, 282, 283, 284, 285, 286, 288, 291, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 313, 314, 317, 327, 356, 357, 358, 359, 360, 365, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 394, 397, 399, 400, 401, 402, 405, 406, 411, 412, 413, 414, 415, 416, 422, 427, 428, 429, 430, 431, 435, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 449, 450, 455, 456, 457, 458, 460, 461, 483, 484, 485, 489, 490, 492, 493, 494, 495, 496, 497, 2147, 2148, 2155, 2165, 2166, 2173, 2175, 2187, 2192, 2220, 2221, 2222, 2225, 2231, 2239, 2240, 2257, 2260, 2262, 2264, 2265, 2273, 2274, 2279, 2281, 2285, 2292, 2294, 2295, 2301, 2304, 2319, 2320, 2325, 2327, 2329, 2330, 2331, 2332, 2333, 2334, 2344, 2346, 2347, 2348, 2349, 2350, 2351, 2353, 2357, 2360, 2387, 2388, 2389, 2390, 2395, 2396]
	DataFrame shape: (271, 8)

,timestamp,timestamp (pacific time),Event,contactID,message,Unnamed: 5,Unnamed: 6,Unnamed: 7
26,2023-08-20T01:33:29.429Z,2023-08-19 18:33:29,OutboundMessage,3WqsCxM93dgvS81zMj9S,"Hey Virginia, I hope you're having a lovely weekend so far.\n\nConfirming your 1-1 intro session...",SMS,NaN,2023-08-20
27,2023-08-20T22:01:49.993Z,2023-08-20 15:01:49,OutboundMessage,FwllGON3bYr9yiwvVwyK,"Hey, it's Charlie from Strength and Movement Lab here.\n\nJust following up on your enquiry agai...",SMS,NaN,2023-08-20
28,2023-08-20T22:06:18.030Z,2023-08-20 15:06:18,InboundMessage,3WqsCxM93dgvS81zMj9S,All done. See you soon,SMS,NaN,2023-08-20
29,2023-08-21T01:58:17.298Z,2023-08-20 18:58:17,OutboundMessage,3WqsCxM93dgvS81zMj9S,"Hi Virgina, lovely to meet you this morning.\n\nI've set you up and you should have received an ...",SMS,NaN,2023-08-21
30,2023-08-21T05:50:35.425Z,2023-08-20 22:50:35,OutboundMessage,ADxznxJyfXCwxDhvHobJ,"Hey Ernest, I hope you'd a great weekend and this weeks started well.\n\nHow's 6am looking for t...",SMS,NaN,2023-08-21
...,...,...,...,...,...,...,...,...
2388,2023-11-10T03:49:39.429Z,2023-11-09 19:49:39,InboundMessage,0X4K1LEBnAt7eX9EC3nC,Hi Charlie I will do a PT and a group session like this week. When r your group sessions then I ...,SMS,NaN,2023-11-10
2389,2023-11-10T03:50:02.105Z,2023-11-09 19:50:02,InboundMessage,0X4K1LEBnAt7eX9EC3nC,Ps. Legs are a bit sore,SMS,NaN,2023-11-10
2390,2023-11-10T03:51:32.909Z,2023-11-09 19:51:32,OutboundMessage,0X4K1LEBnAt7eX9EC3nC,"Fantastic, the hybrid option of 1 PT & 1 Group session a week is $119 so that’ll be what is bill...",SMS,NaN,2023-11-10
2395,2023-11-10T10:14:51.881Z,2023-11-10 02:14:51,InboundMessage,0X4K1LEBnAt7eX9EC3nC,Ok will do 1 PT and 1 group next week and then move onto mostly group sessions thereafter with a...,SMS,NaN,2023-11-10
2396,2023-11-10T10:17:17.288Z,2023-11-10 02:17:17,InboundMessage,0X4K1LEBnAt7eX9EC3nC,I will do PT at 7.30 Friday and Group 6.45 on Wednesday. Thanks Charlie. Have a good weekend.,SMS,NaN,2023-11-10

In [16]:
new_contact_messages['contactID'].unique().shape

(26,)

In [19]:
save_filename = 'new_contact_messages_'
save_csv(
    new_contact_messages,
    save_filename, filepath, append_version=True
)

File saved:  C:/Users/silvh/OneDrive/lighthouse/portfolio-projects/GHL-chat/data/raw/new_contact_messages_2023-11-10_0953.csv
	Time completed: 2023-11-10 09:53:36.077251

# *End of Page*